<div class="multi-container">
    <div class="add-blog"><span class="back"><a href="#e"><</a></span></div>
    <h1>New Post</h1>
    <form class="post-form">
        <input type="text" class="title" placeholder="Title">
        <input type="text" class="content" placeholder="Content">
        <button type="submit">Create</button>
    </form>
</div>