<form class="bTemp">
    <input type="text" class="first-name" placeholder="First Name"/>
    <input type="text" class="last-name" placeholder="Last Name"/>
    <input type="text" class="address" placeholder="Address"/>
    <input type="text" class="phone" placeholder="Phone Number"/>
    <button class="create-button" type="submit">Create</button>
</form>
<div class="home"><a href="">Home</a></div>