<div class="blog-area">

    <ul class="sidebar">
        {{#each this}}
            <div><a href="#d/{{_id}}">{{title}}</a></div>
        {{/each}}
    </ul>

    <div class="content">
        <h2>Welcome to blogless</h2>
        <p>no blogs here</p>
    </div>


</div>
<div><a href="">Home</a></div>